:root {
    --selected-category: #006A71;
    --primary-color-product: #9ACBD0;
    --primary-color-product-hover: #48A6A7;
    --primary-color-product-active: #7acdcf;
    --bg-category: #F2EFE7;
    --bg-category-hover: #7acdcf;
    --bg-order-display: #F2EFE7;
    --bg-product-container: #f0f0f099;
    --bg-total-price: rgb(243, 243, 243);
    --bg-invoice-form: #bcdce0;
    --bg-order-item: #aee2e879;
    --bg-order-display: #ffffff;
    --primary-text: #fff;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

#categoryList {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: auto;
}

#categoryList button {
    padding: 20px;
    border-radius: 10px;
    border: none;
    transition: all ease 0.2s;
    cursor: pointer;
    font-family: 'Poppins';
    font-weight: 500;
    text-transform: uppercase;
}

#categoryList button:hover {
    color: white;
    background-color: var(--bg-category-hover);
}



#resetButton img {
    max-width: 20px;
    border: 0;
    display: block;
}

#resetButton {
    border: 0;
    background: transparent;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
}


#storeWrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#productsContainer {
    flex: 3;
    background-color: var(--bg-product-container);
    height: 100%;
    width: 100%;
    padding: 20px;
    gap: 15px;
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));grid-auto-rows: 100px;
}

#orderContainerBtns {
    padding: 10px;
    border-bottom: solid 0.5px rgba(155, 155, 155, 0.612);
    box-shadow: 3px 3px 3px rgba(187, 187, 187, 0.54);
}

#orderContainer {
    font-family: 'Poppins';
    font-size: 0.9rem;
    flex: 2;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 0;
}

#orderTotalContainer {
    background-color: var(--bg-total-price);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

#orderButtons {
    display: flex;
    gap: 0.5px;
}

#orderButtons button {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    border: none;
    background-color: rgb(220, 220, 220);
    transition: all 0.2s ease;
}

#orderButtons button:hover {
    background-color: rgb(203, 203, 203); 
}

#orderContainer > div:first-child {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
}

#orderDisplay {
    background-color: var(--bg-order-display);
    flex: 1 1 auto;
    overflow: scroll;
}

#orderTotalContainer {
    height: fit-content;
}

#orderContainerBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product {
    font-family: 'Poppins';
    font-size: 0.8rem;
    flex: 0 0 auto;
    padding: 10px;
    background-color: var(--primary-color-product);
    transition: all 0.2s ease;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(187, 187, 187, 0.54);
    color: var(--primary-text);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product:hover {
    background-color: var(--primary-color-product-hover);
}

.product:active {
    background-color: var(--primary-color-product-active);
}

.orderItem {
    background-color: var(--bg-order-item);
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.orderItem-product {
    display: flex;
    justify-content: space-between;
}

.orderItem-product-name {
    max-width: 40%;
    flex: auto;
    overflow: auto;

}

.orderItem-product-price {
    width: 20%;
    
}

.orderItem-product-quantity {
    width: 10%;

}

.orderItem-edit-icon {
    height: 15px;
    width: 15px;
}

.orderItem-options {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.589);
    padding: 10px;
    border-radius: 10px;
    
}

.orderItem-options button {
    padding: 2px 10px;
}

.orderItem-options-delete-icon {
    width: 15px;
    background-color: transparent !important;
    border: none;
    display: block;
    padding: 0;
    margin: 0;
    line-height: 0;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.selectedCategory {
    background-color: var(--selected-category);
    color: white;
}

#createInvoice {
    margin: auto;
    padding: 20px;
    height: 50vh;
    background-color: var(--bg-invoice-form);
    z-index: 10000;
}

#createInvoice form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

#createInvoice form input {
    width: 100%;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    #storeWrapper {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }

    #categoryList {
        padding: 10px 20px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        overflow: auto;
    }

    #orderContainer {
        flex: 4;
        overflow: hidden;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 0;
    }
}