<link rel="stylesheet" href="/css/store.css">

<main id="storeMain">
    <h1>The store</h1>

    <div id="storeWrapper">
        <div id="productsContainer"></div>


        <div id="orderContainer">
            <div>
                <div id="orderContainerBtns">
                    <p id="orderNumber"></p>
                    <button id="resetButton">Reset order</button>
                </div>

            <div id="orderDisplay">
                <!-- TODO: CHANGE IT TO A TABLE INSTEAD MAYBE? SET MAX WIDTH ON ELEMENT-->
                <!-- <div class="orderItem">
                    <p>Boba tea</p>
                    <p>x 20</p>
                    <p>200€</p>
                </div> -->
            </div>
            </div>


            <div>
                <div id="orderTotalContainer">
                    <p>Total price:</p><p><span id="orderTotalPrice">0</span>€</p>
                </div>
                <div id="orderButtons">
                    <button>Pay</button>
                    <button>Create Invoice</button>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="<%= baseURL %>js/store.js"></script>