<link rel="stylesheet" href="/css/store.css">

<main id="storeMain">

    <div id="storeWrapper">
        <div id="categoryList"></div>
        <div id="productsContainer"></div>


        <div id="orderContainer">
            <div>
                <div id="orderContainerBtns">
                        <p id="orderNumber"></p>
                       
                    <button id="resetButton"><img src="./assets/order_icons/delete.png" alt="Icon for clearing order"></button>
                </div>

            <div id="orderDisplay">
    
            </div>
            </div>

            <div>
                <div id="orderTotalContainer">
                    <p>Total price:</p><p><span id="orderTotalPrice">0</span>€</p>
                </div>
                <div id="orderButtons">
                    <button id="payBtn">Pay</button>
                    <button id="createInvoiceBtn">Create Invoice</button>
                </div>

                <div id="createInvoice" class="hidden">
                    <h2>Create invoice</h2>

                    <form>
                        <label for="fullname">
                            <input type="text" placeholder="Full name" id="createInvoiceFullname">
                        </label>
                        <label for="email">
                            <input type="email" placeholder="E-mail" id="createInvoiceEmail">
                        </label>

                        <button id="createInvoicePostBtn" type="button">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="<%= baseURL %>js/store.js"></script>