# Testing
Manual test cases have been created and used to test the application during development. All test cases can be found [here](./tests.md).


| **Testcase** | **Description**                                              | **Status** | Comment                                                                                                            |
| ------------ | ------------------------------------------------------------ | ---------- | ------------------------------------------------------------------------------------------------------------------ |
| **TC1.1**    | UI when starting the app. Rendering categories and products  | ✅          |                                                                                                                    |
| **TC1.2**    | Select a category                                            | ✅          |                                                                                                                    |
| **TC1.3**    | Create a new category                                        | ✅          |                                                                                                                    |
| **TC2.1**    | Products are rendered correctly when starting the applicaton | ✅          |                                                                                                                    |
| **TC2.2**    | Create and add a new product                                 | ✅          |                                                                                                                    |
| **TC3.1**    | The UI of the order display                                  | ✅          |                                                                                                                    |
| **TC3.2**    | Add a product to the order                                   | ✅          |                                                                                                                    |
| **TC3.3**    | Add multiple items of the same product                       | ✅          |                                                                                                                    |
| **TC3.4**    | Remove an order item                                         | ✅          |                                                                                                                    |
| **TC4**      | Pay for an order                                             | ❌          | Cannot implement payment. The current code only simulates paying - but the system cannot actually handle payments. |
| **TC5**      | Create the invoice                                           | ⚠️         | T                                                                                                                  |

| **Testcase** | **Description**                                              | **Status** | Comment                                                                                                            |
| ------------ | ------------------------------------------------------------ | ---------- | ------------------------------------------------------------------------------------------------------------------ |
| **TC1.1**    | UI when starting the app. Rendering categories and products  | ✅          |                                                                                                                    |
| **TC1.2**    | Select a category                                            | ✅          |                                                                                                                    |
| **TC1.3**    | Create a new category                                        | ✅          |                                                                                                                    |
| **TC2.1**    | Products are rendered correctly when starting the applicaton | ✅          |                                                                                                                    |
| **TC2.2**    | Create and add a new product                                 | ✅          |                                                                                                                    |
| **TC3.1**    | The UI of the order display                                  | ✅          |                                                                                                                    |
| **TC3.2**    | Add a product to the order                                   | ✅          |                                                                                                                    |
| **TC3.3**    | Add multiple items of the same product                       | ✅          |                                                                                                                    |
| **TC3.4**    | Remove an order item                                         | ✅          |                                                                                                                    |
| **TC4**      | Pay for an order                                             | ❌          | Cannot implement payment. The current code only simulates paying - but the system cannot actually handle payments. |
| **TC5**      | Create the invoice                                           | ⚠️         | T                                                                                                                  |
