<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order System L3</title>
    <link rel="icon" type="images/x-icon" href="/assets/favicon.png">
    <!-- CSS-->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Fonts-->


    <!-- Script -->
    <script type="module" src="<%= baseURL %>js/index.js"></script>
</head>
<body>
        <!-- <%- include('../partials/header') %> -->

        <%- body %>
</body>
</html>